@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;



html, body {
  height: 100%; 
  user-select: none;
  background-color: #051120;
  font-family: 'Nunito', sans-serif; 
  overflow-x: hidden;
 margin-left: auto;
 margin-right: auto;
 max-width: 100%;
}

h1 {
  font-family: "Jost", sans-serif;
  font-size: 40px;
  font-weight: 700;
}
.active {
  @apply text-orange-500 underline underline-offset-4;
}

button {
  background-color: rgb(5, 255, 201);
  color: #051120;
}

.green-color {
  color: #05FFC9;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.slider-images img{
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.slider-img {
  flex: 0 0 auto;
  width: 110px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: 0.7s ease;
}


.slider-img:hover{
  transform: scale(1.1); 
}

.slider-images .slider-img:first-child,
.slider-images .slider-img:last-child {
  height: 480px;
}

.slider-images .slider-img:nth-child(2),
.slider-images .slider-img:nth-child(4) {
  height: 560px;
}

.slider-images .slider-img:nth-child(3) {
  height: 665px;
}

.image-h1 {
  font-family: "Jost", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: #ba5004;
  position: absolute;
  top: 50%;
  left: -32%;
  transform: rotate(270deg); 
  transition: 0.7s ease;
}

.details {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  padding: 20px;
  border-radius: 6px;
  max-height: 0;
  overflow: wrap;
  opacity: 0;
  transition: opacity 0.7s ease, max-height 0.9s ease;
 
}

.details h2 {
  font-family: "Jost", sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-align: left;
  line-height: 44px;
  color: #EF6D09;
  text-transform: uppercase;
  transition: 0.7s ease;
  display: none;
}

.details p {
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  line-height: 33px;
  color: #05FFC9;
  /* text-transform: uppercase; */
  transition: 0.7s ease;
  display: none;
}

.slider-img.active .details {
  opacity: 1;
  max-height: 400px;
}

.slider-img.active {
  width: 500px !important;
  height: 750px !important;
}

.slider-img.active h1 {
  display: none;
}

.slider-img.active .details p,
.slider-img.active .details h2 {
  display: block;
}

.slider-images .slider-img:nth-child(3) .image-h1 {
  left: -47%;
}

.slider-images .slider-img:nth-child(5) .image-h1 {
  left: -0%;
}

.slider-images .slider-img:nth-child(4) .image-h1 {
  left: -8%;
}

@media (max-width: 360px) {
  .slider-img {
    height: 50vh; 
    width: 250px; 
   
  }
}